*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    z-index: 1;
}

.img-rounded{
    height: 50%;
    width: 50%;
    border-radius: 50%;

}
.box{
    box-sizing: border-box;
}